.clients {
    letter-spacing: 0.03em;
    padding-top: 94px;
    padding-bottom: 94px;
}

.clients-list {
    display: flex;
    justify-content: center;
}

.clients-list__link {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 170px;
    height: 90px;
    border: 1px solid #AFB1B8;
    box-sizing: border-box;
    border-radius: 4px;
}

.clients-list__icon {
    fill: $text-social-items;
}

.clients-list__link:hover,
.clients-list__link:focus {
    border-color: $bg-portfolio-filter;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 250ms;
}

.clients-list__link:hover svg,
.clients-list__link:focus svg {
    fill: $bg-portfolio-filter;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 250ms;
}

.clients-list__item+.clients-list__item {
    margin-left: 30px;
}