.close-button {
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    top: 8px;
    right: 8px;

    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.modal-icon-cross {
    width: 11px;
    height: 11px;
    fill: #000000;
}

.close-button:hover,
.close-button:focus {
    cursor: pointer;
    fill: var(--background-button);
}

.close-button:hover svg,
.close-button:focus svg {
    fill: var(--background-button);
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 250ms;
}