.main-section__title {
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    color: var(--title-color);
    margin-bottom: 50px;
}

.visually-hidden {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px);

    /* IE6, IE7 */

    clip: rect(1px, 1px, 1px, 1px);
    padding: 0 !important;
    border: 0 !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden;
}